* {
	font-family: "Noto Sans", Calibri, sans-serif;
}
button {
	font-size: inherit;
}
input[type=checkbox], input[type=color] {
	border: none;
	padding: 0;
	position: relative;
	top: 0.25rem;
}
input[type=number] {
	width: 3em;
}

body {
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	margin: 0;
}

main {
	align-items: center;
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	justify-content: center;
	margin-left: 0.25rem;
}
#view > svg {
	border: 2px dashed gray;
}

aside {
	margin: 0.25rem;
	overflow-y: scroll;
}
fieldset {
	padding: 0.25rem;
}
fieldset fieldset {
	background-color: #DFEFFF;
}
fieldset fieldset fieldset {
	background-color: #DFFFDF;
	margin-bottom: 0.5rem;
}
fieldset fieldset fieldset fieldset {
	background-color: #FFFFDF;
	margin-bottom: 0.5rem;
}
fieldset fieldset fieldset fieldset fieldset {
	background-color: #FFDFEF;
	margin-bottom: 0.5rem;
}
fieldset fieldset fieldset fieldset fieldset fieldset { /* possible? */
	background-color: #EFDFFF;
	margin-bottom: 0.5rem;
}
#blazon-output {
	font-size: 0.75em;
	font-style: italic;
	resize: none;
	width: 95%;
}

input[disabled], #templates {
	display: none;
	visibility: hidden;
}
